FROM alpine:3.21@sha256:a8560b36e8b8210634f77d9f7f9efd7ffa463e380b75e2e74aff4511df3ef88c

# see: https://github.com/opencontainers/image-spec/blob/v1.0.1/annotations.md
LABEL org.opencontainers.image.title={{ project_name|tojson }}
LABEL org.opencontainers.image.description={{ project_description|tojson }}
LABEL org.opencontainers.image.licenses={{ project_license|tojson }}
